<div class="main_container">
  <nav class="side_bar">
    <img src="/assets/WF-EN-C-L-W.gif" alt="some_text" width=60% style="margin-top:10px;margin-left:10px">

    <div class="side_bar_cell">
      <i class="fa fa-rocket"></i>
    </div>
    <div class="side_bar_cell">
      <i class="fa fa-rocket"></i>
    </div>
    <div class="side_bar_cell">
      <i class="fa fa-rocket"></i>
    </div>
  </nav>

  <div class="header_container">

    <div class="login_container">
      This is header
    </div>

  </div>
  <div class='info_container'>
    <div class="report_image_container">
      <div class="report_image_cell_expand_button"><i class="fa fa-ellipsis-h"></i></div>
      <img class="report_image_cell" src="/assets/screenshot3.png" >
      <div class="report_image_cell_separator"><i class="fa fa-arrow-right"></i></div>
      <img class="report_image_cell" src="/assets/screenshot1.png" >
      <div class="report_image_cell_separator"><i class="fa fa-arrow-right"></i></div>
      <img class="report_image_cell" src="/assets/screenshot2.png" >
      <div class="report_image_cell_separator"><i class="fa fa-arrow-right"></i></div>
      <img class="report_image_cell" src="/assets/screenshot3.png" >
    </div>
    <div class="report_graph_container">
        <canvas id="myChart" height="255px" width="450px"></canvas>
        <canvas id="myChart2" height="255px" width="450px" style="margin-left:10px"></canvas>
    </div>
    <div class="report_log_container">

    </div>
  </div>
</div>
