<% content_for :title, "Status Center" %>
<div class="main_container" >
  <%= render "shared/side_menu" %>

  <div class="detail_header_container">
    <div class="detail_header_text_block">
        <div class="project_name_block"><i class="fa fa-rocket" style="font-size:22.5px;margin-right:5px;color:#55DAE1"></i>SWAN</div>
    </div>
  </div>

  <div class='info_container' >
    <div id="sessionGraph1" class="sc_graph_container">
        <div id="sessionFolderChart" style="width:800px !important; display:inline-block" ></div>
    </div>
    <div id="sessionGraph2" class="sc_graph_container">
        <div id="sessionFolderChart" style="width:800px !important; display:inline-block" ></div>
    </div>
  </div>
</div>
