<% content_for :title, "Status Center" %>
<div class="eva"></div>
<div class="eva_bg">
  <div class="eva_header">  </div>
  <div class="eva_lt_container">
    <!-- first large graph -->
    <div class="eva_large_graph_panel">
      <div class="eva_large_graph_inner_container selection_mode" id="evaLargeGraph1" onclick="evaGraphConfig(this.id)" onmouseover="evamouseOnFirstTimeSettingButton(this.id)" onmouseout="evamouseOutFirstTimeSettingButton(this.id)">
        <span class="eva_nogo fa fa-area-chart">
          <span class="eva_copy fa fa-area-chart"></span>
        </span>
      </div>
    </div>
    <!-- first large graph -->
    <div class="eva_large_graph_panel">
      <!-- second large graph -->
        <div class="eva_large_graph_inner_container selection_mode" id="evaLargeGraph2" onmouseover="evamouseOnFirstTimeSettingButton(this.id)" onmouseout="evamouseOutFirstTimeSettingButton(this.id)">
          <span class="eva_nogo fa fa-area-chart">
            <span class="eva_copy fa fa-area-chart"></span>
          </span>
        </div>
      <!-- second large graph -->
    </div>
  </div>
  <!-- left graph drawer -->
  <div class="eva_lt_drawer" id="drawer_lt">

  </div>
  <!-- left graph drawer -->
  <div class="eva_rg_container">
    <div class="eva_small_graph_panel">
      <!-- first small graph -->
        <div class="eva_small_graph_inner_container selection_mode" id="evaSmallGraph1" onmouseover="evamouseOnFirstTimeSettingButton(this.id)" onmouseout="evamouseOutFirstTimeSettingButton(this.id)">
          <span class="eva_nogo fa fa-area-chart">
            <span class="eva_copy fa fa-area-chart"></span>
          </span>
        </div>
      <!-- first small graph -->
    </div>
    <div class="eva_small_graph_panel">
      <!-- second small graph -->
        <div class="eva_small_graph_inner_container selection_mode" id="evaSmallGraph2" onmouseover="evamouseOnFirstTimeSettingButton(this.id)" onmouseout="evamouseOutFirstTimeSettingButton(this.id)">
          <span class="eva_nogo fa fa-area-chart">
            <span class="eva_copy fa fa-area-chart"></span>
          </span>
        </div>
      <!-- second small graph -->
    </div>
    <div class="eva_small_graph_panel">
      <!-- thrid small graph -->
        <div class="eva_small_graph_inner_container selection_mode" id="evaSmallGraph3" onmouseover="evamouseOnFirstTimeSettingButton(this.id)" onmouseout="evamouseOutFirstTimeSettingButton(this.id)">
          <span class="eva_nogo fa fa-area-chart">
            <span class="eva_copy fa fa-area-chart"></span>
          </span>
        </div>
      <!-- thrid small graph -->
    </div>
  </div>

</div>
