<% content_for :title, "Status Center" %>
<div class="eva"></div>
<div class="eva_bg">
  <div class="eva_header">  </div>
  <div class="eva_rg_container">
    <div class="eva_large_graph_panel"></div>
    <div class="eva_large_graph_panel"></div>
  </div>
  <div class="eva_lt_container">
    <div class="eva_small_graph_panel"></div>
    <div class="eva_small_graph_panel"></div>
    <div class="eva_small_graph_panel"></div>
  </div>
</div>
