  <nav class="side_bar" >
    <img src="/assets/WF-EN-C-L-W.gif" alt="some_text" width=60% style="margin-top:10px;margin-left:10px">
    <div class="time_selection_bar" >
      <div class='time_year'>2014</div>
      <div class='time_month'>Jul</div>
      <div class="time_date" id="time_jul_1" onmouseover="show_detail_exec_time(this.id)">1</div>
      <div class="time_date" id="time_jul_2" onmouseover="show_detail_exec_time(this.id)">2</div>
      <div class="time_date" id="time_jul_3" onmouseover="show_detail_exec_time(this.id)">3</div>
      <div class="time_date" id="time_jul_4">4</div>
      <div class="time_date" id="time_jul_5">5</div>
      <div class="time_date" id="time_jul_6">6</div>
      <div class="time_date" id="time_jul_7">7</div>
      <div class='time_month'>Aug</div>
      <div class="time_date">1</div>
      <div class="time_date">2</div>
      <div class="time_date">3</div>
      <div class="time_date">4</div>
      <div class='time_extra' onclick="show_full_calendar()"><i class="fa fa-ellipsis-v"></i></div>
    </div>

  </nav>
