<div class="main_container">
  <nav class="side_bar">
    <div class="side_bar_cell">
      <i class="fa fa-rocket"></i>
    </div>
    <div class="side_bar_cell">
      <i class="fa fa-rocket"></i>
    </div>
    <div class="side_bar_cell">
      <i class="fa fa-rocket"></i>
    </div>
  </nav>
  <div class="header_container">
    hello
  </div>
  <div class='info_container'>
    
  </div>
</div>
