<% content_for :title, "Welcome" %>
<div class="main_container">
  <nav class="side_bar">
    <img src="/assets/WF-EN-C-L-W.gif" alt="some_text" width=60% style="margin-top:10px;margin-left:10px">
  </nav>

  <div class="header_container">Welcome and thanks for using YPv</div>



  <div class='info_container'>
    <div class="home_report_list_container" style="color:white !important">
      We cannot find any sessions in your DB! <br>
      Make sure your project pytest is connected to this server.
    </div>

  </div>
</div>
