/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require_tree ../../../vendor/assets/stylesheets
*= require jquery-ui
 */

/* scroll*/
::-webkit-scrollbar {
  background: #9bb7fc;
  border-radius:10px;
    width: 10.5px;
    height: 10.5px;
    margin-left:5px;
    margin-right:5px;

}

::-webkit-scrollbar-track {
    width:55px;
    padding-left:5px;
    padding-right:5px;
    background: #111;
}

::-webkit-scrollbar-thumb {
    width:15px;
    outline: 1px solid #101214;
    border-radius: 2.5px;
    border-left: 1px solid #3e444c;
    background-image: linear-gradient(#3a3f44, #202328 70%, #202328);
}
