// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(http://fonts.googleapis.com/css?family=Roboto);
.bg{
  background-color: rgb(28, 34, 39);
  background-image: radial-gradient(900px at 50% 0%, rgb(78, 94, 106) 0%, rgb(28, 34, 39) 100%);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.main_container{
  position:absolute;

  width:1024px;
  margin-left: calc(50% - 512px);
  top:2.5px;
}

.side_bar{
  position:fixed;
  left: calc(50% - 512px);
  height:calc(100% - 15px);
  top:7.5px;
  background:rgba(1,1,1,0.45);
  width:50px;
  border-radius:5px;
  z-index:995;
}
.time_selection_bar{
  position:absolute;
  bottom:0px;
  width:100%;
}
@import url(http://fonts.googleapis.com/css?family=Roboto:400,900);
.time_year{
  position:relative;
  padding-top:10px;
  padding-bottom:5px;
  color:#aaa;
  text-align:center;
  border-bottom:1px solid #666;
  font-weight:bold;
  font-family: 'Roboto', sans-serif;
}
.time_month{
  position:relative;
  padding-top:10px;
  padding-bottom:5px;
  color:#fff200;
  text-align:center;
  border-bottom:1px solid #666;
  font-weight:bold;
  font-family: 'Roboto', sans-serif;
}
.time_date{
  position:relative;
  padding-top:5px;
  padding-bottom:5px;
  color:#bbb;
  text-align:center;
  font-size:15.5px;
  font-weight:bold;
  font-family: 'Roboto', sans-serif;
  cursor:pointer;
}
.time_date:hover{
  color:#01AEF2;
}
.time_extra{
  position:relative;
  padding-top:5px;
  padding-bottom:5px;
  color:#bbb;
  text-align:center;
  font-size:27.5px;
  font-weight:bold;
  font-family: 'Roboto', sans-serif;
  cursor:pointer;
  margin-bottom:25px;
}
.time_extra:hover{
  color:#fff200;
}
.detail_exec_time_block{
  position:fixed;
  width:225px;
  left:50px;
  padding:7.5px 0px 7.5px 0px;
  background:#151A1E;
  border-radius:5px;

  box-shadow: 2.5px 2.5px 5px #000;
}
.detail_exec_time_block::after{
  z-index:995;
  content:"";
	width: 0;
	height: 0;
  position:absolute;
  margin-left:-11.5px;
  top:12.5px;
	border-top: 7.5px solid transparent;
	border-bottom: 7.5px solid transparent;
	border-right:12.5px solid #151A1E;
}
.one_single_exec{
  position:relative;
  padding:5px 15px 5px 15px;
  width:calc(100% - 30px);
  font-size:15.5px;
  color:#aaa;
  font-family: 'Roboto', sans-serif;
  cursor:pointer;
}
.one_single_exec:hover{
  color:#fff200;
}
.exec_time{
  display:inline-block;
}
.exec_pass_fail{
  display:inline-block;
  float:right;
  margin-right:10px;
}
.header_container{
  position:relative;
  //background:#FEF200;
  background:rgba(0,0,0,0.5);
  color:#DCDCDC;
  margin-top:10px;
  width:calc(100% - 75px);
  margin-bottom:15px;
  float:right;
  padding:5px 10px 5px 10px;
  border-radius:5px;
  display:block;
}
.detail_header_container{
  position:relative;
  //background:#FEF200;
  color:#DCDCDC;
  margin-top:10px;
  width:calc(100% - 60px);
  margin-bottom:5px;
  float:right;
  border-radius:5px;
  display:block;
}
.detail_header_text_block{
  width: 70%;
  display:inline-block;
}
.detail_header_author_block{
  width:29.5%;
  display:inline-block;
  float:right;
}
.detail_header_case_name_block{
  width:calc(100%);
  font-family: 'Roboto', sans-serif;
  font-size:14.5x;
  font-weight:bold;
  color:white;
  padding-bottom:5px;
}
.detail_header_case_path_block{
  width:calc(100%);
  font-family: 'Roboto', sans-serif;
  font-size:12px;
  color:#aaa;
}

.info_container{
  position:relative;
  width:calc(100% - 55px);
  float:right;
  min-height:725px;
  border-radius:5px;
  z-index:10
}
.home_graph_container{

}
.session_table_tag_view{
  position:relative;
  width:100%;
  height:25px;
  margin-top:-10px;
  margin-bottom:20px;
}
.pass_fail_tag_container{
  position:relative;
  display:inline-block;
  padding:5px 20px 5px 20px;
  color:#5AD3D1;
	background: #272B30;
	border-right:2px solid #272B30;
	outline: 1px solid #101214;
	border-right: 1px solid #3e444c;
	border-radius: 2.5px;
  cursor:pointer;
  display:none;
}
.pass_fail_tag_container.fail{
  color:#FF5A5E;
}
.path_tag_container{
  position:relative;
  display:inline-block;
  margin-left:5px;
}
.path_tag{
  position:relative;
  display:inline-block;
  padding:5px 20px 5px 20px;
  border-top-right-radius:50px;
  border-bottom-right-radius:50px;
  color:#999;
  background: #272B30;
  border-right:2px solid #272B30;
  outline: 1px solid #101214;
  border-right: 1px solid #3e444c;
  border-radius: 2.5px;
  margin-left:-2px;
  cursor:pointer
}
.path_tag.active{
  color:#caf0ff;
}
.home_report_list_container{
  width:calc(100% - 50px);
  position:relative;
  background:rgba(0,0,0,0.5);
  padding:25px 25px 25px 25px;
  border-radius:5px;
}



.side_bar_cell{
  position:relative;
  text-align:center;
  padding:10px 0px 10px 0px;
  color:#A7A7A7;
  cursor:pointer;
  font-size:15px;
}
.side_bar_cell:first-child{
  margin-bottom:5px;
  font-size:20px
}
.side_bar_cell:hover{
  color:#55ACEE;
  background:rgba(255,255,255,0.1);
}
.side_bar_cell:first-child:hover{
  border-radius:5px;
  color:#55ACEE;
  background:rgba(255,255,255,0.1);
}
.side_bar_cell.active{
  color:#55ACEE;
  border-left: 3px #55ACEE solid;
}
.exec_time_full_screen_grey_layer{
  position:fixed;
  display:none;
  top:0px;
  bottom:0px;
  right:0px;
  left:0px;
  z-index:999;
  background:rgba(0,0,0,0.75)
}
.full_calendar{

  position:absolute;
  z-index:999;
  width:50%;
  margin-top:3.5%;
  margin-left:25%;
}
.full_calendar_close_btn{
  position:fixed;
  top:25px;
  right:50px;
  font-size:35px;
  color:#aaa;
  cursor:pointer;
}
.full_calendar_close_btn:hover{
  color: #FEF200;
}
.project_name_block{
  width:calc(100%);
  font-family: 'Roboto', sans-serif;
  font-size:18.5px;
  font-weight:bold;
  color:white;
  padding-bottom:2.5px;
}
.project_execution_time_block{
  width:calc(100%);
  font-family: 'Roboto', sans-serif;
  font-size:13.5px;
  color:#aaa;
}
.detail_execution_device{
  width:37.5px;
  height:37.5px;
  font-family: 'Roboto', sans-serif;
  font-size:15px;
  font-weight:bold;
  color:white;
  display:inline-block;
  vertical-align:top;
}
.detail_execution_env_info{
  font-family: 'Roboto', sans-serif;
  font-size:15px;
  width: calc(100% - 47.5px);
  font-weight:bold;
  color:white;
  display:inline-block;
  vertical-align:top;
}
.detail_header_info_block{
  width:calc(20.5% - 10px);
  display:inline-block;
  float:right;
  background:rgba(0,0,0,0.2);
  border-radius:5px;
  padding:5px 5px 5px 5px;
}
.detail_execution_text_box{
  position:relative;
  width:calc(100% - 32.5px);
  font-family: 'Roboto', sans-serif;
  color:#777;
  font-size:13.5px;
  font-weight: normal;
  vertical-align:top;
}
