// Place all the styles related to the reportDetail controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(http://fonts.googleapis.com/css?family=Happy+Monkey);
.report_image_container{
  width: calc(100% - 50px);
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  min-height:25px;
  background:rgba(0,0,0,0.7);
  display:block;
  padding:25px 25px 25px 25px;
  position:relative;
}
.report_image_container.fullview{
  width: calc(100% - 150px);
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  min-height:50px;
  display:block;
  padding:25px 50px 25px 100px;
  position:relative;
  background:transparent;
}
.report_image_cell{
  position:relative;
  width:17.5%;
  height: 185px;
  display:inline-block;
  vertical-align:top;
  background:rgba(0,0,0,0.5);
  text-align:center;
  border-radius:5px;
  opacity:0.8;
  cursor:pointer;
}

.report_image_cell.last-child{
  width:100%;
  opacity:1;
}
.report_image_cell.last-child-overlay{
  position:absolute;
  left:0px;
  top:0px;
  width:100%;
  height:100%;
  opacity:0.4;
  background:transparent;
}
.report_image_cell:hover{
  opacity:0.95;
  box-shadow: 0px 0px 15px white;
}

.report_image_cell.last-child-overlay:hover{
  opacity:0.8;
}
.report_image_cell_separator{
  width:5.5%;
  height: 185px;
  display:inline-block;
  text-align:center;
  vertical-align:middle;
  font-size:37.5px;
  line-height: 185px;
  color:#888;
}
.report_image_cell_expand_button{
  width:5.5%;
  height: 185px;
  display:inline-block;
  text-align:center;
  vertical-align:middle;
  font-size:37.5px;
  line-height: 185px;
  color:#aaa;
  cursor:pointer;
}
.report_image_cell_expand_button:hover{
  color:white
}
.report_graph_container{
  display:block;
  width:calc(100% - 50px);
  min-height:250px;
  background:rgba(0,0,0,0.5);
  border-top:1px solid #777;
  padding: 25px 25px 25px 25px;
}

.report_log_container{
  display:block;
  width: 100%;
  min-height:500px;

  border-top:1px solid #777;

}







.log-navigation {
  overflow: hidden;
  margin-top: -15px;
  position: relative;
  padding: 0 0 0 1rem;
  ul {
    list-style: none;
    padding: 0;
  }
  li {
    float: left;
    width: 8.5rem;
    height: 4.05rem;
    margin: 0 0 0 -1rem;
    position: relative;
    &.active {
      z-index: 6;
    }
  }
  a {
    position: relative;
    display: inline-block;
    color: white;
    width: 100%;
    height: 100%;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 0.8rem;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  }
  svg {
    width: 120%;
    height: 100%;
    // for tab shadows
    // also screws up Firefox
    // filter: url(#shadow);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
  }
  span {
    position: relative;
    padding: 0.95rem 0 0 1.55rem;
    z-index: 2;
    display: inline-block;
    width: 100%;
    height: 100%;
  }
  .tab-1 {
    z-index: 4;
    svg {
      fill:  #13171A;
    }
  }
  .tab-2 {
    z-index: 3;
    svg {
      fill: #1D2328;
    }
  }
  .tab-3 {
    z-index: 2;
    svg {
      fill: #2B333A;
    }
  }

}

.errorLog-content{
  position: relative;
  z-index: 10;
  background: #13171A;
  margin: -1.6rem 0 0 0;

  padding:10px 10px 10px 10px;
  border-radius: 5px;
  border-top-left-radius: 0;
}

.userLog-content{
  position: relative;
  z-index: 10;
  background: #2B333A;
  margin: -1.6rem 0 0 0;

  font-size:12.5px;
  color: #999;
  padding:10px 10px 10px 10px;
  border-radius: 5px;
  border-top-left-radius: 0;
}

.errorTestCase{
  position:relative;
  width:100%;
}

.errorInfo{
  position:relative;
  width: calc(100% - 35px);
  padding: 10px 10px 10px 25px;
  font-family: monospace;
  color:red;

}
.report_image_full_panel_grey_layer{
  display:none;
  position:fixed;
  top:0px;
  bottom:0px;
  left:0px;
  right:0px;
  background:rgba(0,0,0,0.55);
  z-index:999;
}
.report_image_full_panel{
  position:fixed;
  width:1048px;
  padding-top:25px;
  padding-bottom:25px;
  left: calc(50% - 524px);
  overflow:auto;
  background:#0F1214;
  border:solid 2px #aaa;
  z-index:999;
  border-radius:5px;
}

.status_table td{
  padding: 0 20px 0 0;
}
