// Place all the styles related to the reportDetail controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.report_image_container{
  width: calc(100% - 50px);
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  min-height:25px;
  background:rgba(0,0,0,0.7);
  display:block;
  padding:25px 25px 25px 25px;
  position:relative;
}
.report_image_cell{
  position:relative;
  width:17.5%;
  height: 185px;
  display:inline-block;
  vertical-align:top;
  background:rgba(0,0,0,0.5);
  border:solid 1px #555;
  text-align:center;
  border-radius:5px;
  opacity:0.8;
  cursor:pointer;
}
.report_image_cell:hover{
  opacity:95;
}

.report_image_cell_separator{
  width:5.5%;
  height: 185px;
  display:inline-block;
  text-align:center;
  vertical-align:middle;
  font-size:37.5px;
  line-height: 185px;
  color:#888;
}
.report_image_cell_expand_button{
  width:5.5%;
  height: 185px;
  display:inline-block;
  text-align:center;
  vertical-align:middle;
  font-size:37.5px;
  line-height: 185px;
  color:#aaa;
  cursor:pointer;
}
.report_image_cell_expand_button:hover{
  color:white
}
.report_graph_container{
  display:block;
  width:calc(100% - 50px);
  min-height:250px;
  background:rgba(0,0,0,0.5);
  border-top:1px solid #777;
  padding: 25px 25px 25px 25px;
}

.report_log_container{
  display:block;
  width: 100%;
  min-height:500px;

  border-top:1px solid #777;

}







.log-navigation {
  overflow: hidden;
  margin-top: -15px;
  position: relative;
  padding: 0 0 0 1rem;
  ul {
    list-style: none;
    padding: 0;
  }
  li {
    float: left;
    width: 8.5rem;
    height: 4.05rem;
    margin: 0 0 0 -1rem;
    position: relative;
    &.active {
      z-index: 6;
    }
  }
  a {
    position: relative;
    display: inline-block;
    color: white;
    width: 100%;
    height: 100%;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 0.8rem;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  }
  svg {
    width: 120%;
    height: 100%;
    // for tab shadows
    // also screws up Firefox
    // filter: url(#shadow);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
  }
  span {
    position: relative;
    padding: 0.95rem 0 0 1.55rem;
    z-index: 2;
    display: inline-block;
    width: 100%;
    height: 100%;
  }
  .tab-1 {
    z-index: 104;
    svg {
      fill:  #1D2328;
    }
  }
  .tab-2 {
    z-index: 3;
    svg {
      fill: rgba(241, 128, 49,0.7);
    }
  }
  .tab-3 {
    z-index: 2;
    svg {
      fill: url(#tab-3-bg);
    }
  }
  .tab-4 {
    z-index: 1;
    svg {
      fill: url(#tab-4-bg);
    }
  }
}

.errorLog-content{
  position: relative;
  z-index: 10;
  background: #1D2328;
  margin: -1.6rem 0 0 0;

  padding:10px 10px 10px 10px;
  border-radius: 5px;
  border-top-left-radius: 0;
}

.errorTestCase{
  position:relative;
  width:100%;
}
