// Place all the styles related to the status_center controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.sc_graph_container{
  display:block;
  width:calc(100% - 50px);
  min-height:250px;
  background:rgba(0,0,0,0.6);
  border-top:1px solid #777;
  padding: 25px 25px 25px 25px;
  border-radius:5px;
  margin-bottom:15px;
}
