// Place all the styles related to the status_center controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.sc_graph_container{
  display:block;
  width:calc(100% - 50px);
  min-height:250px;
  background:rgba(0,0,0,0.6);
  border-top:1px solid #777;
  padding: 25px 25px 25px 25px;
  border-radius:5px;
  margin-bottom:7.5px;
}
.eva_bg{
  position:fixed;
  left:0px;
  right:0px;
  top:0px;
  bottom:0px;
  background:#252B30;
  z-index:0;
  overflow:auto;
}
.eva_header{
  position:relative;
  top:0px;
  height:35px;
}

.eva_lt_container{
	position:fixed;
  left:0px;
  bottom:0px;
	width:67.5%;
  height:calc(100% - 40px);
  display:inline-block;
}
.eva_large_graph_panel{
  margin-top:7.5px;
  margin-bottom:2.5px;
  position:relative;
  height:calc(50% - 12.5px);
  width:calc(100% - 8.5px);
  outline: 1px solid #101214;
  border-top: 1px solid #3e444c;
  border-radius: 2.5px;
  background: #202328;
  margin-left:7.5px;
}
.eva_lt_drawer{
  top:42.5px;
  right:0px;
  position:fixed;
  height:calc(100% - 42.5px);
  width:calc(32.25% - 4.5px);
  outline: 1px solid #101214;
  border-left: 1px solid #3e444c;
  border-radius: 2.5px;
  background: #202328;
  z-index:5;
  -webkit-box-shadow: -8px 0px 17.5px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: -8px 0px 25px 0px rgba(0,0,0,0.5);
  box-shadow: -8px 0px 25px 0px rgba(0,0,0,0.5);
  display:none;
}

.eva_small_graph_panel{
  margin-top:1.5px;
  margin-bottom:1.5px;
  position:relative;
  height:calc(33% - 5px);
  width:calc(100% - 6.5px);
  outline: 1px solid #101214;
  border-top: 1px solid #3e444c;
  border-radius: 2.5px;
  background: #202328;
  margin-left:5.5px;
}
.eva_small_graph_panel:first-child{
  margin-top:7.5px;
}
.eva_rg_container{
  position:fixed;
  width:calc(32.25% - 7.5px);
  margin-right:5.5px;
  height:calc(100% - 40px);
  display:inline-block;
  right:0px;
  bottom:0px;
}



.eva_large_graph_inner_container{
  position:absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
  left:calc(50% - 62.5px);
  top:calc(50% - 62.5px);
  height:125px;
  width:125px;
  border:dashed 2.5px #555;
  border-radius:7.5px;
  font-size:37.5px;
  text-align:center;
  color: #555;
  cursor:pointer;
}
.eva_large_graph_inner_container.hover{
  -webkit-animation:  enlarge 0.5s ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation: enlarge 0.5s ease-in-out;
  animation-fill-mode: forwards;
  border:dashed 2.5px #999;
}

.eva_large_graph_inner_container.active{
  left:2.5%;width: 95%;height: 85%;top:7.5%;font-size:55px
}

.eva_small_graph_inner_container{
  position:absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
  left:calc(50% - 27.5px);
  top:calc(50% - 27.5px);
  height:55px;
  width:55px;
  border:dashed 2.5px #555;
  border-radius:7.5px;
  font-size:27.5px;
  text-align:center;
  color: #555;
  cursor:pointer;
}
.eva_small_graph_inner_container:hover{
  -webkit-animation:  enlarge_2 0.5s ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation: enlarge_2 0.5s ease-in-out;
  animation-fill-mode: forwards;
  border:dashed 2.5px #999;
}
.eva_nogo {
  position: relative;
}

.eva_copy {
  position: absolute;
  left: 0; right: 0;
  top: 0; bottom: 0;
  height: 100%;
  overflow: hidden;
  opacity: 0.5;
  vertical-align: 25px;
}

.eva_copy.active{
  -webkit-animation: eva_pulse 1.5s infinite ease-in; /* Chrome, Safari, Opera */
  animation: eva_pulse 1.5s infinite ease-in;
}

@-webkit-keyframes enlarge {
    from {width: 175px;height:175px;font-size:37.5px}
    to {left:2.5%;width: 95%;height: 85%;top:7.5%;font-size:55px}
}
@keyframes enlarge {
    from {width: 175px;height:175px;font-size:37.5px}
    to {left:2.5%;width: 95%;height: 85%;top:7.5%;font-size:55px}
}

@-webkit-keyframes enlarge_2 {
    from {width: 55px;height:55px;font-size:27.5px}
    to {left:2.5%;width: 95%;height: 85%;top:7.5%;font-size:42.5px}
}
@keyframes enlarge_2 {
    from {width: 175px;height:175px;font-size:37.5px}
    to {left:2.5%;width: 95%;height: 85%;top:7.5%;font-size:42.5px}
}

@keyframes eva_pulse {
    0% { transform: scale(1); opacity: 0.5}
    100% { transform: scale(3.5); opacity: 0 }
}

@-webkit-keyframes eva_pulse {
    0% { -webkit-transform: scale(1); opacity: 0.5}
    100% { -webkit-transform: scale(3.5); opacity: 0 }
}
